.playerCloudContainer{
	// width:100%;
	// height:100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom:50px;
	left:50px;
	right:50px;
	// background:red;
}